<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>companymgr1</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.stx.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.stx.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.stx.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharactorFilter</display-name>
    <filter-name>CharactorFilter</filter-name>
    <filter-class>com.stx.servlet.CharactorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharactorFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.stx.servlet.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddVidServlet</display-name>
    <servlet-name>AddVidServlet</servlet-name>
    <servlet-class>com.stx.servlet.AddVidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVidServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnServlet</display-name>
    <servlet-name>ReturnLogin</servlet-name>
    <servlet-class>com.stx.servlet.ReturnLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnLogin</servlet-name>
    <url-pattern>/return</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideditServlet</display-name>
    <servlet-name>VideditServlet</servlet-name>
    <servlet-class>com.stx.servlet.VideditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideditServlet</servlet-name>
    <url-pattern>/videdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelVidServlet</display-name>
    <servlet-name>DelVidServlet</servlet-name>
    <servlet-class>com.stx.servlet.DelVidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelVidServlet</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AJAXServlet</display-name>
    <servlet-name>AJAXServlet</servlet-name>
    <servlet-class>com.stx.servlet.AJAXServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AJAXServlet</servlet-name>
    <url-pattern>/AJAX</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InSearchServlet</display-name>
    <servlet-name>InSearchServlet</servlet-name>
    <servlet-class>com.stx.servlet.InSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InSearchServlet</servlet-name>
    <url-pattern>/insearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckZhServlet</display-name>
    <servlet-name>CheckZhServlet</servlet-name>
    <servlet-class>com.stx.servlet.CheckZhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckZhServlet</servlet-name>
    <url-pattern>/checkzh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCheckServlet</display-name>
    <servlet-name>UpdateCheckServlet</servlet-name>
    <servlet-class>com.stx.servlet.UpdateCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCheckServlet</servlet-name>
    <url-pattern>/updatecheckservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.stx.servlet.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllServlet</display-name>
    <servlet-name>QueryAllServlet</servlet-name>
    <servlet-class>com.stx.servlet.QueryAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllServlet</servlet-name>
    <url-pattern>/QueryAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InAndOutCompare</display-name>
    <servlet-name>InAndOutCompare</servlet-name>
    <servlet-class>com.stx.servlet.InAndOutCompare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InAndOutCompare</servlet-name>
    <url-pattern>/InAndOutCompare</url-pattern>
  </servlet-mapping>
</web-app>